[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "==20.8b1"
isort = "*"
pytest = "*"
pytest-django = "*"
pylint-django = "*"
rope = "*"
freezegun = "*"
faker = "*"

[packages]
graphene-django = "*"
django = "*"
django-ordered-model = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}

[requires]
python_version = "3.8"
